{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Ido" content>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <!-- Custom styles -->
    <link href="{% static '/css/landing.css' %}" rel="stylesheet" type="text/css">
    
    <link rel="icon" href="{% static '/images/wallet.png' %}" type="image/png">
    <title>Welcome</title>
</head>
<body id="bg" style="background-image: url('{% static '/images/card-black.jpg' %}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
    <nav class="navbar navbar-expand-sm flex-row-reverse" id="navbar"> 
        <ul class="navbar-nav"> 
            <li class="nav-item align-middle"> 
                <a class="nav-link" href="{% url 'login' %}" id="log-in"> 
                    Log In
                </a> 
            </li> 
            <li class="nav-item"> 
                <a class="nav-link" href="{% url 'register' %}" id="sign-up">
                    <button>Sign Up</button>
                </a> 
            </li>  
        </ul>
    </nav> 
    <div class="container">
        <hr class="mt-0">
        <h1> manage your income and expense </h1>
        <h1> visualize it automatically. </h1>
        <p></p>
        <p></p>
        <p class="fst-italic">*beta version</p>
    </div>
<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>